:root {
  --pink: #ef626c;
  --blue: #57d2ff;
  --green: #65f06f;
  --yellow: #ffda57;

  --header: 5.5rem;
  --body: 1.25rem;

  --hero-subtext: 2rem;

  --padding: 6rem;
  --header-body-gap: 2.3rem;

  --section-gap: 18rem;

  --num-projects: 4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caveat-header {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.kalam-regular-body {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.reenie-beanie-regular-notes {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}

.blue-text {
  color: var(--blue);
}

.green-text {
  color: var(--green);
}

.red-text {
  color: var(--pink);
}

body {
  background-image: url("../images/notebook-dark.png");
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  /* overflow: hidden; */

  /* perspective: 10000px; */
}

body::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
}

h1 {
  font-size: var(--header);
}

p {
  font-size: var(--body);
}

/* .hidden {
  opacity: 0;
} */

/* .reveal--opacity {
  opacity: 1;
  transition: opacity 1s;
} */

.sticky-nav {
  /* background-color: white; */
  width: calc(15rem + (var(--padding) / 3));
  height: calc(12rem + var(--padding));
  position: fixed;
  right: 0;
  z-index: 1;
  transition: transform 0.5s ease;
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-end;

  /* transform: translateZ(-10px) rotateX(60deg) rotateZ(29deg); */
  /* transform-style: preserve-3d;
  transform-origin: 0 0 0; */

  transform-origin: top center;
  /* transition: transform 0.35s; */
  /* animation: wrapper 6s ease-in-out infinite; */
  transform: perspective(900px) rotateX(52deg) rotateZ(-20deg)
    translate(50%, -10%);
  opacity: 0;
  /* transform: translate(0%, -10%); */
}

.sticky-nav:hover {
  transform: perspective(900px) rotateX(18deg) rotateZ(-2deg);
}

.stick-on {
  transform: perspective(900px) rotateX(0) rotateZ(0) translate(0, 0);
  opacity: 1;
}

@keyframes wrapper {
  50% {
    transform: translateZ(-10px) rotateX(60deg) rotateZ(29deg) rotateY(180deg);
  }
}

.hide-nav {
  /* transform: translate(85%, -85%); */
  transform: perspective(900px) rotateX(52deg) rotateZ(-20deg)
    translate(75%, -10%);
}

.hide-nav:hover {
  transform: translate(0, 0);
  /* transform:
        perspective(900px)
        rotateX(18deg)
        rotateZ(-2deg); */
}

.sticky-note-img {
  width: 15rem;
  height: 15rem;
  /* margin-right: calc(var(--padding)); */
}

.sticky-links {
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  display: flex;
  flex-direction: column;
  /* background-color: gray; */
  width: max-content;
  transform: rotate(-20deg);
}

.sticky-links p {
  font-size: calc(var(--body) * 2.2);
  text-align: center;
  padding-bottom: 0.5rem;
}

.sticky-links a {
  text-decoration: none;
  color: black;
  font-size: calc(var(--body) * 1.1);
  padding: 0 0 0.5rem 0;
}

.sticky-links a svg {
  position: absolute;
  display: block;
  cursor: pointer;
  margin-top: 0.7rem;
  width: 5%;
  transition: width 0.5s ease;
}

.tool-letter {
  position: relative;
  display: inline-block;
  overflow: clip;
}

.tool-letter-inner {
  position: relative;
  display: inline-block;
  transform: translate3d(0px, 0%, 0px);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  transition-delay: calc(var(--i) * 40ms);
}

.letter-bottom {
  position: absolute;
  top: 100%;
  left: 0;
}

.toolKeyword:hover .tool-letter-inner {
  transform: translateY(-100%);
}

.sticky-links a:hover {
  svg {
    width: 100%;
  }
}

.hero {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

.hero-frame {
  position: absolute;
  top: 0rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  pointer-events: none;
}

.hero-frame svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.hero-frame svg path {
  fill: black;
  stroke: black;
  stroke-width: 0.5;
}

.draw-path {
  /* fill: black; */
  fill-opacity: 0;

  stroke-opacity: 0;
  /* stroke: black; */
}

.draw-dot {
  fill-opacity: 0;
  fill: black;
  stroke: none;
}

.hero-content {
  width: 100%;
  height: 100vh;
  padding: 0 var(--padding) 0 var(--padding);
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.hero-bottom-content {
  margin-top: auto;
  margin-bottom: 4.5rem;
  height: 50%;
  line-height: 2.2;
}

.hero-title {
  font-size: 7rem !important;
  max-width: 200px;
  line-height: 1.2;
}

.hero-note {
  font-size: var(--body);
  color: var(--pink);
}

.hero-subtitle {
  font-size: var(--hero-subtext);
}

.about-me-content {
  position: relative;
  height: 200svh;
  /* background-color: gray; */
}

.about-me-section__wrapper {
  background-image: url("../images/notebook-dark.png");
  background-color: #f2f2f2;
  padding: 0 var(--padding) 0 var(--padding);
  display: flex;
  gap: var(--header-body-gap);
  position: sticky;
  top: 1rem;
  left: 0;
  min-height: 100svh;
}

.about-me-text {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--header-body-gap);
  /* background-color: pink; */
  width: 50%;
}

.about-me-section__mask {
  height: 16.666%;
  position: absolute;
  width: 100%;
  top: 33.333%;
  left: 0;
}

.about-me-image {
  display: flex;
  align-items: flex-start;
  /* background-color: blue; */
  width: 50%;
}

.little-note {
  width: 10%;
  height: 20%;
  color: var(--pink);
  position: absolute;
  right: var(--padding);
  top: 0;
}

.little-note img {
  width: 50%;
  transform: scaleX(-1);
}

.scribble {
  position: relative;
  display: inline-block;
}

.scribble::after {
  content: "";
  position: absolute;

  inset: -0.12rem;

  background-image: url("../images/scribble.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  pointer-events: none;
}

.projects-content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: var(--header-body-gap);
  width: 100vw;
  height: 250vh;
  /* background-color: blue; */
}

.projects-title {
  align-self: center;
  /* justify-self: center; */
}

.projects-sticky {
  background-image: url("../images/notebook-dark.png");
  background-color: #f2f2f2;
  width: 100vw;
  height: 100vh;
  /* background-color: red; */
  position: sticky;
  top: 0;
}

.projects-container {
  /* background-color: rgb(17, 255, 0); */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.dynamic-text {
  max-width: 100%;
  /* max-height: 100%; */
  overflow: hidden;
  /* opacity: 20%; */
  color: rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word; /* Modern preferred standard to break long words */
  word-break: break-all;

  /* -webkit-mask-image: radial-gradient(
    circle at 500px 500px,
    transparent 80px,
    black 81px
  );
  mask-image: radial-gradient(
    circle at 720px 330px,
    transparent 180px,
    black 151px
  ); */
  /* mask-image: revert; */

  /* mask-image: linear-gradient(black, black); */
  /* animation: typing 2s steps(30) forwards; */
}

.shift-box {
  display: inline-block;
  width: 283px;
  height: 244px;
  background-color: black;
}

.dynamic-text .red-text,
.dynamic-text .blue-text {
  font-weight: bold;
}

.projects-row {
  width: calc(100 * var(--num-projects)) vw;
  /* background-color: white; */
  position: absolute;
  top: 33%;
  left: 0;
  display: flex;
  opacity: 1;
  transition: opacity 0.8s ease;
  /* justify-content: center; */
  /* gap: 90vw; */
  /* transform: translateX(31%); */
}

.project-square {
  /* background-color: gray; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  transform: translateY(-2rem);
}

.project-square p {
  font-size: 1.5rem;
}

.invisible-typewriter {
  opacity: 0;
}

.project-images {
  position: relative;
  width: min(283px, 80vw);
  aspect-ratio: 283 / 244;
  /* background-color: gray; */
}

.project-border {
  width: 100%;
  height: 100%;
  display: block;
}

.inner-project-svg {
  position: absolute;
  inset: 0;
}

.project-illustration {
  width: 40%;
  height: 40%;
  object-fit: contain;

  opacity: 1;
  transition: opacity 0.8s ease;
}

.project-video {
  width: 80%;
  height: 74%;

  object-fit: cover;

  border-radius: 8px;

  opacity: 0;
  transition: opacity 0.8s ease;
}

.project-video,
.project-illustration {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  opacity: 0;
}

.project-images.playing .project-video {
  opacity: 1;
}

.project-images.playing .project-illustration {
  opacity: 0;
}

.experience-content {
  padding: 0 var(--padding) 0 var(--padding);
  display: flex;
  flex-direction: column;
  gap: var(--header-body-gap);
  height: 300vh;
}

.experience-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--header-body-gap);
  height: 100%;
}

.experience-sideline {
  width: 20%;
  /* height: 150vh; */
  /*  background-color: gray;*/
  display: flex;
  justify-content: flex-end;
  margin-top: -2.5rem;
}

.experience-sideline svg {
  width: 35%;
  height: 100%;
  clip-path: inset(0 0 100% 0);
}

.experience-job-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: calc(var(--header-body-gap) * 5);
  position: relative;
  padding-top: 25rem;
  /* background-color: pink; */
}

.work-item {
  position: relative;
}

.work-item-inner {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 95%;
  /* background-color: pink; */
}

.work-item-first-line {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

.revealTextLefttoRight {
  animation: revealTextLeftToRight 4s ease forwards;
}

@keyframes revealTextLeftToRight {
  from {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  to {
    clip-path: inset(0 0% 0 0);
    opacity: 1;
  }
}

@keyframes revealTextDown {
  from {
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  to {
    clip-path: inset(0 0 0% 0);
    opacity: 1;
  }
}

@keyframes revealOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.work-item-first-line .date {
  color: var(--pink);
  font-size: var(--body);
}

.work-item-first-line .job-title {
  font-size: var(--hero-subtext);
}

.work-item-second-line {
  margin-top: -1rem;
  /* animation: revealTextLeftToRight 4s ease forwards; */
}

/*.work-item-second-line p {
  font-size: 1.125rem;
}*/

.work-item-first-line,
.work-item-second-line {
  clip-path: inset(
    0 100% 0 0
  ); /* matches the "from" state of revealTextLeftToRight */
}

.work-item-skills .work-skill {
  opacity: 0; /* matches the "from" state of slideIn */
}

.work-item-text {
  padding: 1.5rem 0 1.5rem 0;
  /* animation: revealTextDown 3s ease forwards; */
  clip-path: inset(0 0 100% 0);
}

.work-item-skills {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  /* justify-content: space-between; */
  /* width: 80%; */
  overflow: hidden;
}

.work-item-skills .work-skill {
  background-image: url("../images/workRect.svg");
  /* background-image: url("../images/longerSmallBox.svg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  padding: 0.8rem 1rem;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  min-width: 8rem;
  max-height: 2rem;
  /* background-color: var(--blue);  */

  transform: translateX(-800%);
  /* animation: slideIn 3s ease forwards;  */
}

@keyframes slideIn {
  from {
    transform: translateX(-800%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.work-status {
  position: absolute;
  top: 0;
  right: 0;

  width: 6.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotate(5deg);
  /* background-color: red; */
}

.work-status svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.work-status .work-status-text {
  opacity: 0;
}

.contact-content {
  padding: 0 var(--padding) 0 var(--padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.contact-title {
  text-align: center;
}

.contact-bodytext {
  padding-top: calc(var(--header-body-gap) / 2);
  text-align: center;
}

.contact-links {
  width: 100%;
  padding-top: calc(var(--header-body-gap) * 2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-links p {
  font-size: var(--hero-subtext);
}

.contact-link-logo {
  text-decoration: none;
  color: black;
}

.footer {
  padding: 0 var(--padding) 0 var(--padding);
  position: relative;
}

/* span containing the few letters + logo outline */
.inline-shift {
  position: relative;
  /* background-color: gray; */
  min-width: 20rem;
  /* padding: 0 1rem 0 1rem; */
}

.logo-outline {
  position: absolute;
  bottom: 0;
  left: 0;
  stroke-width: 1.5;
}

.rest-linkedin-shift,
.rest-github-shift,
.rest-mail-shift {
  transition: padding 0.5s;
}

.inline-letter-linkedin,
.inline-letter-github,
.inline-letter-mail {
  transition: opacity 1s;
}

.linkedin-outline {
  left: 2px;
  /* width: 110%; */
  bottom: 3px;
  /* background-color: pink; */
}

.github-outline {
  left: -10px;
  /* width: 230%; */
}
/* shifts the rest of the word for the github logo */
/* .rest-github-shift {
  padding: 0 0 0 0.3rem;
} */

/* .mail-outline {
   width: 180%; 
} */

/* .rest-mail-shift{
  padding: 0 0 0 1rem;
} */
